body {
    background-image: url("./images/starsBackground.jpg"); 
   background-size:cover;
   font-family: 'Righteous', cursive;
}


h1{
    color:white;
    text-align:center;
    margin-bottom:10%;
    
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20%;
}
.card-title {
    color:white;
    align-content:center;
}
.card-text{
    color:white;
    text-align:center;
    font-size:25px;
}
a {
    color:#00ccff;
}
a:hover {
    color:#00ff00;
}